/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
}

.btn {
    border: none;
    background-color: white;
    color: black;
    font-size: large;
    font-weight: 600;
    min-width: 100px;
    min-height: 40px;
    cursor: pointer;
    &:hover {
        background-color: rgb(31, 87, 31);
        color: white;
    }
}